/config.el
/*.elc
/elpa/
/ido.last
/bookmarks
/backups/
/auto-save-list/
/projectile-bookmarks.eld
/recentf
/helm-doc.org
/url/
/tramp
/elfeeddb/index
/history
/projectile.cache
/eshell
/eshell/*
/eshell/lastdir
/projectile.cache
/*.cache