/config.el
/*.elc
/elpa/
/ido.last
/bookmarks
/backups/
/auto-save-list/
/projectile-bookmarks.eld
/recentf
/helm-doc.org
/url/
/tramp
/elfeeddb/index
/history
/projectile.cache
/eshell
/eshell/*
/eshell/lastdir
/projectile.cache
/*.cache
assets/
/*.html
/transient/history.el
/session.*
/%backup%~
/magithub/
/*.aux
/*.fdb_latexmk
/*.fls
/*.log
/*.out
/*.tex
/*.toc
/org-roam.db
/themes/deepsky-modus-fade-theme-backup
/.org-id-locations
/eln-cache/
/elpy/
/ac-comphist.dat
